<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>i am the main tag</h1>


    <h3>
        <%= "Muskan bharti".toUpperCase()+" Thakur";
         %>

    </h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet placeat nihil debitis ut. Aperiam, natus aspernatur! Veritatis voluptas sint sunt.</p>



    <button>hyyy</button>
</body>
</html>