<%- include('includes/head.ejs') %>
<body>
    <h1>
      after rollong value the value is 
      <%=
      Math.floor(Math.random()*6)+1 
      %>
    </h1>



    <%- include('includes/name.ejs') %>
</body>
</html>